body {
  margin: 0 auto;
  font-family: roboto;
}

.container {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 5fr;
  height: 100vh;
}

.sidebar {
  background-color: rgb(69, 144, 207);
  color: white;
  grid-row: 1 / -1;
  padding: 0 20px;
  display: grid;
  grid-template-rows: 2fr 6fr 3fr 6fr;
  font-weight: 500;
  ul {
    padding-left: 20px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-size: 1.2rem;
  }
  li {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 15px;
    a {
      text-decoration: none;
      color: white;
    }
  }
}

.logo {
  display: flex;
  align-items: center;
  gap: 15px;
  font-size: 1.6rem;
  img {
    height: 3rem;
  }
}

.main-menu {
  grid-row: 2;
}

.support-menu {
  grid-row: 3;
}

.banner {
  grid-row: 1 / 2;
}

.content {
  background-color: rgb(227, 232, 239);
}
